# Libraries

In [1]:
import pandas as pd
import numpy as np

# Data set:

In [2]:
df = pd.read_csv('H:\My Drive\QEnergy\Data\Data Model (Allboas & Research).csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201404 entries, 0 to 1201403
Data columns (total 73 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   recordtype                     1201404 non-null  object
 1   settlementDate                 1201404 non-null  object
 2   settlementPeriod               1201404 non-null  int64
 3   BMU ID                         1201404 non-null  object
 4   acceptedprice                  1201404 non-null  float64
 5   acceptedvolume                 1201404 non-null  float64
 6   BMU Type                       1201404 non-null  object
 7   BMU Fuel Type                  1201404 non-null  object
 8   BMU GSP Group Name             1201404 non-null  object
 9   LOC LAT                        1201404 non-null  float64
 10  LOC LONG                       1201404 non-null  float64
 11  LOC Center LAT                 1201404 non-null  float64
 12  LOC Center LONG                1201404 non-null  float64
 13  BZONE                          1201404 non-null  object
 14  BZONE GENERATION               1201404 non-null  int64
 15  BZONE DEMAND                   1201404 non-null  int64
 16  Z1                             1016830 non-null  float64
 17  Z2                             1186612 non-null  float64
 18  Z3                             1188557 non-null  float64
 19  Z4                             1164824 non-null  float64
 20  Z5                             1169099 non-null  float64
 21  Z6                             1108834 non-null  float64
 22  Z7                             1187628 non-null  float64
 23  Z8                             1061531 non-null  float64
 24  Z9                             1011842 non-null  float64
 25  Z10                            1094703 non-null  float64
 26  Z11                            1163224 non-null  float64
 27  Z12                            1147947 non-null  float64
 28  Z13                            1083428 non-null  float64
 29  Z14                            1182687 non-null  float64
 30  Z15                            1131069 non-null  float64
 31  Z16                            1153823 non-null  float64
 32  Z17                            1169826 non-null  float64
 33  BMU Party ID                   1201404 non-null  object
 34  Trading Unit                   1201404 non-null  object
 35  PC Flag                        1201404 non-null  object
 36  PC Status                      1201404 non-null  object
 37  Transmission Loss Factor       1201404 non-null  float64
 38  Generation Capacity            1201404 non-null  float64
 39  Demand Capacity                1201404 non-null  float64
 40  Exempt Export Flag             1201404 non-null  object
 41  Base TU Flag                   1201404 non-null  object
 42  FPN Flag                       1201404 non-null  object
 43  Weekend                        1201404 non-null  float64
 44  Holiday                        1201404 non-null  float64
 45  Year                           1201404 non-null  float64
 46  Month                          1201404 non-null  float64
 47  Day                            1201404 non-null  float64
 48  Weekday_SIN                    1201404 non-null  float64
 49  Weekday_COS                    1201404 non-null  float64
 50  Month_SIN                      1201404 non-null  float64
 51  Month_COS                      1201404 non-null  float64
 52  Day_SIN                        1201404 non-null  float64
 53  Day_COS                        1201404 non-null  float64
 54  settPeriod_SIN                 1201404 non-null  float64
 55  settPeriod_COS                 1201404 non-null  float64
 56  marketIndexPrice               1201404 non-null  float64
 57  marketIndexVolume              1201404 non-null  float64
 58  activeFlag                     1201404 non-null  float64
 59  DANF_Demand                    1201404 non-null  float64
 60  DAID_spnDemand                 1201404 non-null  float64
 61  DAIG_spnGeneration             1201404 non-null  float64
 62  DATF_Demand                    1201404 non-null  float64
 63  SystemTotalLoad_Consumption    1201404 non-null  float64
 64  DAMargin                       1201404 non-null  float64
 65  DAImbalance                    1201404 non-null  float64
 66  GenerationForecast_Production  1201404 non-null  float64
 67  Solar_Generation               1201404 non-null  float64
 68  WindOffshore_Generation        1201404 non-null  float64
 69  WindOnshore_Generation         1201404 non-null  float64
 70  NatGas_price                   1201404 non-null  float64
 71  Coal_price                     1201404 non-null  float64
 72  BrentOil_price                 1201404 non-null  float64
dtypes: float64(56), int64(3), object(14)
memory usage: 669.1+ MB

In [12]:
df.head()

,recordtype,settlementDate,settlementPeriod,BMU ID,acceptedprice,acceptedvolume,BMU Type,BMU Fuel Type,BMU GSP Group Name,LOC LAT,...,SystemTotalLoad_Consumption,DAMargin,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price
0,BID,2020-12-20,1,E_BRDUW-1,-71.36,-6.6,E,WIND,Northern Scotland,56.277929,...,25732.0,27928.0,-101.0,25423.18,0.0,9020.59,7365.717,15.885,80.0,52.26
1,BID,2020-12-20,1,E_FASN-3,-17.13,-3.0,E,NPSHYD,Northern Scotland,57.326105,...,25732.0,27928.0,-101.0,25423.18,0.0,9020.59,7365.717,15.885,80.0,52.26
2,BID,2020-12-20,1,M_CAS-GAR01,-67.13,-7.5,M,NPSHYD,Northern Scotland,57.063215,...,25732.0,27928.0,-101.0,25423.18,0.0,9020.59,7365.717,15.885,80.0,52.26
3,BID,2020-12-20,1,T_BHLAW-1,-71.42,-53.5,T,WIND,Northern Scotland,57.217764,...,25732.0,27928.0,-101.0,25423.18,0.0,9020.59,7365.717,15.885,80.0,52.26
4,BID,2020-12-20,1,T_CGTHW-1,-70.00,-34.5,T,WIND,Northern Scotland,57.186735,...,25732.0,27928.0,-101.0,25423.18,0.0,9020.59,7365.717,15.885,80.0,52.26

In [14]:
# From the recordtype column, select only records with the value 'BID':
bids = df[df['recordtype']=='BID']
bids.shape

(750116, 73)

In [35]:
# Filter out the rows from 20-06-2023 to 28-06-2023:
bids_aux = bids[(bids['settlementDate'] >= '2023-06-24') & (bids['settlementDate'] <= '2023-06-26')]
display(bids_aux.head())

,recordtype,settlementDate,settlementPeriod,BMU ID,acceptedprice,acceptedvolume,BMU Type,BMU Fuel Type,BMU GSP Group Name,LOC LAT,...,SystemTotalLoad_Consumption,DAMargin,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price
1192296,BID,2023-06-24,1,2__PMARB001,75.00,-10.000,2,NPSHYD,Northern Scotland,56.821652,...,21427.0,23655.0,593.0,20629.0,0.0,4255.694,2890.435,32.507,125.5,73.85
1192297,BID,2023-06-24,1,E_GYAR-1,65.00,-69.971,E,CCGT,Eastern England,52.583834,...,21427.0,23655.0,593.0,20629.0,0.0,4255.694,2890.435,32.507,125.5,73.85
1192298,BID,2023-06-24,1,T_CDCL-1,65.50,-60.680,T,CCGT,East Midlands,53.307421,...,21427.0,23655.0,593.0,20629.0,0.0,4255.694,2890.435,32.507,125.5,73.85
1192299,BID,2023-06-24,1,T_CNQPS-4,65.50,-15.750,T,CCGT,Merseyside and Northern Wales,53.231614,...,21427.0,23655.0,593.0,20629.0,0.0,4255.694,2890.435,32.507,125.5,73.85
1192300,BID,2023-06-24,1,T_HUMR-1,63.22,-22.167,T,CCGT,Yorkshire,53.639914,...,21427.0,23655.0,593.0,20629.0,0.0,4255.694,2890.435,32.507,125.5,73.85

In [28]:
# From the bids dataframe, count the frequency of the the unique values in the BMU Fuel Type column:
bids_fuel_type = bids['BMU Fuel Type'].value_counts()

# Convert bids_fuel_type to a dataframe:
bids_fuel_type = bids_fuel_type.to_frame().reset_index()

# Insert a columns with the relative frequency of each fuel type:
bids_fuel_type['Relative Frequency %'] = bids_fuel_type['count']/bids_fuel_type['count'].sum()
bids_fuel_type.sort_values(by='Relative Frequency %', ascending=False)

display(bids_fuel_type)

  BMU Fuel Type   count  Relative Frequency %
0          CCGT  319015              0.425288
1          WIND  248243              0.330939
2        NPSHYD   65570              0.087413
3            PS   39866              0.053146
4         OTHER   29319              0.039086
5       BATTERY   18149              0.024195
6       BIOMASS   16505              0.022003
7          COAL   11935              0.015911
8          OCGT    1514              0.002018

In [6]:
# From the recordtype column, select only records with the value 'OFFER':
offers = df[df['recordtype']=='OFFER']
offers.shape

(451288, 73)

In [29]:
# From the bids dataframe, count the frequency of the the unique values in the BMU Fuel Type column:
offers_fuel_type = offers['BMU Fuel Type'].value_counts()

# Convert bids_fuel_type to a dataframe:
offers_fuel_type = offers_fuel_type.to_frame().reset_index()

# Insert a columns with the relative frequency of each fuel type:
offers_fuel_type['Relative Frequency %'] = offers_fuel_type['count']/offers_fuel_type['count'].sum()
offers_fuel_type.sort_values(by='Relative Frequency %', ascending=False)

display(offers_fuel_type)

  BMU Fuel Type   count  Relative Frequency %
0          CCGT  216242              0.479166
1         OTHER  134946              0.299024
2            PS   44863              0.099411
3        NPSHYD   13168              0.029179
4       BATTERY   12399              0.027475
5          COAL   10854              0.024051
6          OCGT    9340              0.020696
7       BIOMASS    5724              0.012684
8          WIND    3752              0.008314

# INTRADAY ENERGY MARKET VALUE

## BIDS

In [5]:
# From the recordtype column, select only records with the value 'BID':
bids = df[df['recordtype']=='BID']
bids.shape

(745990, 70)

In [6]:
bids.loc[:, 'abs_acceptedprice'] = bids['acceptedprice'].abs()
bids.loc[:, 'abs_acceptedvolume'] = bids['acceptedvolume'].abs()

C:\Users\javde\AppData\Local\Temp\ipykernel_1528\1387537073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bids.loc[:, 'abs_acceptedprice'] = bids['acceptedprice'].abs()
C:\Users\javde\AppData\Local\Temp\ipykernel_1528\1387537073.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bids.loc[:, 'abs_acceptedvolume'] = bids['acceptedvolume'].abs()

In [7]:
bids.head()

,recordtype,settlementDate,settlementPeriod,BMU ID,acceptedprice,acceptedvolume,BMU Type,BMU Fuel Type,BMU GSP Group Name,LOC LAT,...,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price,abs_acceptedprice,abs_acceptedvolume
0,BID,2021-01-01,1,E_GYAR-1,37.0,-18.366,E,CCGT,Eastern England,52.583834,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,37.0,18.366
1,BID,2021-01-01,1,E_SHOS-1,35.0,-0.666,E,CCGT,South Eastern England,50.829511,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,35.0,0.666
3,BID,2021-01-01,1,T_CDCL-1,40.0,-11.084,T,CCGT,East Midlands,53.307421,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,40.0,11.084
10,BID,2021-01-01,1,T_MRWD-1,37.1,-174.768,T,CCGT,Southern England,50.898831,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,37.1,174.768
12,BID,2021-01-01,1,T_PEMB-11,37.0,-33.634,T,CCGT,Southern Wales,51.683003,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,37.0,33.634

In [8]:
# Group by settlementDate and settlementPeriod values the abs of the sum of acceptedprice and acceptedvolume:
bids_sum = bids.groupby(['settlementDate','settlementPeriod',]).sum(['abs_acceptedprice', 'abs_acceptedvolume']).reset_index()
display(bids_sum.head())

,settlementDate,settlementPeriod,acceptedprice,acceptedvolume,LOC LAT,LOC LONG,LOC Center LAT,LOC Center LONG,BZONE GENERATION,BZONE DEMAND,...,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price,abs_acceptedprice,abs_acceptedvolume
0,2021-01-01,1,192.10,-586.518,366.640241,-6.101657,366.632473,-7.495399,109500,83500,...,-12761.0,177499.0,0.0,14576.079,23105.824,133.875,563.5,362.6,192.10,586.518
1,2021-01-01,2,198.10,-471.406,364.489569,-10.399479,364.659569,-10.539230,110000,105500,...,-12439.0,177625.0,0.0,14576.079,23105.824,133.875,563.5,362.6,198.10,471.406
2,2021-01-01,3,273.96,-889.388,574.579181,-21.714255,575.812138,-20.240623,178000,158500,...,-13849.0,277057.0,0.0,24345.387,36107.830,210.375,885.5,569.8,273.96,889.388
3,2021-01-01,4,233.96,-987.794,523.135636,-22.422030,524.664132,-20.568454,164000,141000,...,-7260.0,250350.0,0.0,22132.170,32825.300,191.250,805.0,518.0,233.96,987.794
4,2021-01-01,5,190.62,-933.114,365.792259,-12.857694,367.182060,-11.938337,116000,97000,...,-2128.0,175665.0,0.0,16049.740,22730.589,133.875,563.5,362.6,190.62,933.114

In [9]:
# Leave onty the columns if accepted price and accepted volume:
bids_sum = bids_sum[['settlementDate','settlementPeriod','abs_acceptedprice','abs_acceptedvolume']]

# Add a column with the week, month, and year of the settlement date:
bids_sum['settlementDate'] = pd.to_datetime(bids_sum['settlementDate'])
bids_sum['week'] = bids_sum['settlementDate'].apply(lambda x: x.isocalendar()[1])
bids_sum['week'] = bids_sum.apply(lambda row: row['week'] - 1 if row['settlementDate'].month == 1 and row['settlementDate'].day < 4 else row['week'], axis=1)
bids_sum['month'] = bids_sum['settlementDate'].dt.month
bids_sum['year'] = bids_sum['settlementDate'].dt.year   
bids_sum['day'] = bids_sum['settlementDate'].dt.day

# Display the result:
display(bids_sum.head())

,settlementDate,settlementPeriod,abs_acceptedprice,abs_acceptedvolume,week,month,year,day
0,2021-01-01,1,192.10,586.518,52,1,2021,1
1,2021-01-01,2,198.10,471.406,52,1,2021,1
2,2021-01-01,3,273.96,889.388,52,1,2021,1
3,2021-01-01,4,233.96,987.794,52,1,2021,1
4,2021-01-01,5,190.62,933.114,52,1,2021,1

In [10]:
# Rename the acceptedprice and acceptedvolume columns:
bids_sum = bids_sum.rename(columns={'abs_acceptedprice':'sum_abs_acceptedprice', 'abs_acceptedvolume':'sum_abs_acceptedvolume'})
bids_sum.head()

,settlementDate,settlementPeriod,sum_abs_acceptedprice,sum_abs_acceptedvolume,week,month,year,day
0,2021-01-01,1,192.10,586.518,52,1,2021,1
1,2021-01-01,2,198.10,471.406,52,1,2021,1
2,2021-01-01,3,273.96,889.388,52,1,2021,1
3,2021-01-01,4,233.96,987.794,52,1,2021,1
4,2021-01-01,5,190.62,933.114,52,1,2021,1

### Accepted BIDS per week:

In [11]:
# Create a table with the sum of accepted price and accepted volume for each week:
bids_sum_week = bids_sum.groupby(['year','month', 'week']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod','day'], axis =1).reset_index()
display(bids_sum_week.head(), len(bids_sum_week))

   year  month  week  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021      1     1          138842.136667              229344.444
1  2021      1     2          227725.213889              408007.785
2  2021      1     3          129652.204246              304310.175
3  2021      1     4          102409.921794              268314.299
4  2021      1    52           36265.145833              127712.364

157

### Accepted BIDS per month:

In [12]:
# Create a table with the sum of accepted price and accepted volume for each month:
bids_sum_month = bids_sum.groupby(['year', 'month']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod','day','week'], axis=1).reset_index()
display(bids_sum_month.head(), len(bids_sum_month))

   year  month  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021      1           6.348946e+05             1337689.067
1  2021      2           1.453111e+06             2218744.051
2  2021      3           1.088641e+06             1744696.220
3  2021      4           5.018063e+05             1240533.250
4  2021      5           4.592668e+05             1033864.191

30

### Accepted BIDS by year:

In [13]:
# Create a table with the sum of accepted price and accepted volume for each year:
bids_sum_year = bids_sum.groupby(['year']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod', 'day', 'week', 'month'], axis =1).reset_index()
display(bids_sum_year.head(), len(bids_sum_year))

   year  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021           1.534997e+07            1.744076e+07
1  2022           3.183656e+07            2.401406e+07
2  2023           9.204290e+06            6.673195e+06

3

### Market volume of transactions in Pounds and MW:

In [14]:
# Calculate the percentages for the new columns
bids_sum_year['market_volume_pounds'] = bids_sum_year['sum_abs_acceptedprice'] / 0.05
bids_sum_year['market_volume_MW'] = bids_sum_year['sum_abs_acceptedvolume'] / 0.05

# Adjust the values for the year 2023
bids_sum_year.loc[bids_sum_year['year'] == 2023, 'market_volume_pounds'] *= 2
bids_sum_year.loc[bids_sum_year['year'] == 2023, 'market_volume_MW'] *= 2

# Display the result:
display(bids_sum_year.head())

,year,sum_abs_acceptedprice,sum_abs_acceptedvolume,market_volume_pounds,market_volume_MW
0,2021,1.534997e+07,1.744076e+07,3.069994e+08,3.488152e+08
1,2022,3.183656e+07,2.401406e+07,6.367311e+08,4.802812e+08
2,2023,9.204290e+06,6.673195e+06,3.681716e+08,2.669278e+08

### Percentage (%) change in market value per pounds and MW:

In [15]:
# Year over year growth:
bids_sum_year['market_value_yoy'] = bids_sum_year['market_volume_pounds'].pct_change()
bids_sum_year['market_liquidity_yoy'] = bids_sum_year['market_volume_MW'].pct_change()
bids_sum_year.head()

,year,sum_abs_acceptedprice,sum_abs_acceptedvolume,market_volume_pounds,market_volume_MW,market_value_yoy,market_liquidity_yoy
0,2021,1.534997e+07,1.744076e+07,3.069994e+08,3.488152e+08,NaN,NaN
1,2022,3.183656e+07,2.401406e+07,6.367311e+08,4.802812e+08,1.074047,0.376893
2,2023,9.204290e+06,6.673195e+06,3.681716e+08,2.669278e+08,-0.421779,-0.444226

### Year to Date comparisson:

#### Selecting only the first 6 months:

In [16]:
# Filter and keep only months from 1 to 6 for every year
filtered_bids_sum = bids_sum[(bids_sum['month'] >= 1) & (bids_sum['month'] <= 6)]

# Group by year and month, and sum the accepted price and accepted volume
bids_sum_month_ytd = filtered_bids_sum.groupby(['year', 'month']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod', 'day', 'week'], axis=1).reset_index()

# Display the result
display(bids_sum_month_ytd.head(25), len(bids_sum_month_ytd))

    year  month  sum_abs_acceptedprice  sum_abs_acceptedvolume
0   2021      1           6.348946e+05             1337689.067
1   2021      2           1.453111e+06             2218744.051
2   2021      3           1.088641e+06             1744696.220
3   2021      4           5.018063e+05             1240533.250
4   2021      5           4.592668e+05             1033864.191
5   2021      6           6.253850e+05             1055694.616
6   2022      1           2.560821e+06             1929669.151
7   2022      2           1.950465e+06             2216514.273
8   2022      3           2.368928e+06             1599657.729
9   2022      4           1.636075e+06             1184231.931
10  2022      5           1.477957e+06             1836865.422
11  2022      6           2.174526e+06             2032310.736
12  2023      1           1.625328e+06             1916761.222
13  2023      2           1.809540e+06             1862022.622
14  2023      3           1.686166e+06              744484.255
15  2023      4           2.060237e+06              998054.127
16  2023      5           1.121892e+06              695511.199
17  2023      6           9.011278e+05              456361.108

18

### Comparing YTD with for all 3 years:

In [17]:
bids_sum_year_ytd = bids_sum_month_ytd.groupby(['year']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['month'], axis=1).reset_index()
display(bids_sum_year_ytd.head(), len(bids_sum_year_ytd))

   year  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021           4.763105e+06            8.631221e+06
1  2022           1.216877e+07            1.079925e+07
2  2023           9.204290e+06            6.673195e+06

3

## OFFERS

In [18]:
# From the recordtype column, select only records with the value 'OFFER':
offers = df[df['recordtype']=='OFFER']

In [19]:
offers.loc[:, 'abs_acceptedprice'] = offers['acceptedprice'].abs()
offers.loc[:, 'abs_acceptedvolume'] = offers['acceptedvolume'].abs()

C:\Users\javde\AppData\Local\Temp\ipykernel_1528\3218435471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers.loc[:, 'abs_acceptedprice'] = offers['acceptedprice'].abs()
C:\Users\javde\AppData\Local\Temp\ipykernel_1528\3218435471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offers.loc[:, 'abs_acceptedvolume'] = offers['acceptedvolume'].abs()

In [20]:
offers.head()

,recordtype,settlementDate,settlementPeriod,BMU ID,acceptedprice,acceptedvolume,BMU Type,BMU Fuel Type,BMU GSP Group Name,LOC LAT,...,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price,abs_acceptedprice,abs_acceptedvolume
2,OFFER,2021-01-01,1,T_CARR-2,74.9,248.334,T,CCGT,North Western England,53.436959,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,74.9,248.334
4,OFFER,2021-01-01,1,T_CDCL-1,71.9,322.584,T,CCGT,East Midlands,53.307421,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,71.9,322.584
5,OFFER,2021-01-01,1,T_DAMC-1,72.0,270.000,T,CCGT,South Eastern England,51.425650,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,72.0,270.000
6,OFFER,2021-01-01,1,T_GRAI-6,71.9,230.188,T,CCGT,South Eastern England,51.443546,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,71.9,230.188
7,OFFER,2021-01-01,1,T_GRAI-7,70.0,230.000,T,CCGT,South Eastern England,51.443546,...,-1823.0,25357.0,0.0,2082.297,3300.832,19.125,80.5,51.8,70.0,230.000

In [21]:
# Group by settlementDate and settlementPeriod values the abs of the sum of acceptedprice and acceptedvolume:
offers_sum = offers.groupby(['settlementDate','settlementPeriod',]).sum(['abs_acceptedprice', 'abs_acceptedvolume']).reset_index()
display(offers_sum.head())

,settlementDate,settlementPeriod,acceptedprice,acceptedvolume,LOC LAT,LOC LONG,LOC Center LAT,LOC Center LONG,BZONE GENERATION,BZONE DEMAND,...,DAImbalance,GenerationForecast_Production,Solar_Generation,WindOffshore_Generation,WindOnshore_Generation,NatGas_price,Coal_price,BrentOil_price,abs_acceptedprice,abs_acceptedvolume
0,2021-01-01,1,618.95,2415.906,466.378911,-3.886825,464.613715,-7.461743,135500,150500,...,-16407.0,228213.0,0.0,18740.673,29707.488,172.125,724.5,466.2,618.95,2415.906
1,2021-01-01,2,618.95,2482.572,466.378911,-3.886825,464.613715,-7.461743,135500,150500,...,-15993.0,228375.0,0.0,18740.673,29707.488,172.125,724.5,466.2,618.95,2482.572
2,2021-01-01,3,580.45,2240.856,415.480081,-2.449638,413.402726,-5.968241,121500,133000,...,-10072.0,201496.0,0.0,17705.736,26260.240,153.000,644.0,414.4,580.45,2240.856
3,2021-01-01,4,676.15,1744.515,522.722448,-2.828754,520.743721,-8.110792,161500,151000,...,-7260.0,250350.0,0.0,22132.170,32825.300,191.250,805.0,518.0,676.15,1744.515
4,2021-01-01,5,497.30,1172.932,366.154859,-0.614327,365.190032,-3.457675,113500,107000,...,-2128.0,175665.0,0.0,16049.740,22730.589,133.875,563.5,362.6,497.30,1172.932

In [22]:
# Leave only the columns for accepted price and accepted volume:
offers_sum = offers_sum[['settlementDate', 'settlementPeriod', 'abs_acceptedprice', 'abs_acceptedvolume']]

# Add a column with the week, month, and year of the settlement date:
offers_sum['settlementDate'] = pd.to_datetime(offers_sum['settlementDate'])
offers_sum['week'] = offers_sum['settlementDate'].apply(lambda x: x.isocalendar()[1])
offers_sum['week'] = offers_sum.apply(lambda row: row['week'] - 1 if row['settlementDate'].month == 1 and row['settlementDate'].day < 4 else row['week'], axis=1)
offers_sum['month'] = offers_sum['settlementDate'].dt.month
offers_sum['year'] = offers_sum['settlementDate'].dt.year   
offers_sum['day'] = offers_sum['settlementDate'].dt.day

# Display the result:
display(offers_sum.head())

,settlementDate,settlementPeriod,abs_acceptedprice,abs_acceptedvolume,week,month,year,day
0,2021-01-01,1,618.95,2415.906,52,1,2021,1
1,2021-01-01,2,618.95,2482.572,52,1,2021,1
2,2021-01-01,3,580.45,2240.856,52,1,2021,1
3,2021-01-01,4,676.15,1744.515,52,1,2021,1
4,2021-01-01,5,497.30,1172.932,52,1,2021,1

In [26]:
# Rename the acceptedprice and acceptedvolume columns:
offers_sum = offers_sum.rename(columns={'abs_acceptedprice':'sum_abs_acceptedprice', 'abs_acceptedvolume':'sum_abs_acceptedvolume'})
offers_sum.head()

,settlementDate,settlementPeriod,sum_abs_acceptedprice,sum_abs_acceptedvolume,week,month,year,day
0,2021-01-01,1,618.95,2415.906,52,1,2021,1
1,2021-01-01,2,618.95,2482.572,52,1,2021,1
2,2021-01-01,3,580.45,2240.856,52,1,2021,1
3,2021-01-01,4,676.15,1744.515,52,1,2021,1
4,2021-01-01,5,497.30,1172.932,52,1,2021,1

### Accepted OFFERS per week:

In [27]:
# Create a table with the sum of accepted price and accepted volume for each week:
offers_sum_week = offers_sum.groupby(['year','month', 'week']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod','day'], axis =1).reset_index()
display(offers_sum_week.head(), len(offers_sum_week))

   year  month  week  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021      1     1          605142.226429              270935.834
1  2021      1     2          562098.635381              412488.281
2  2021      1     3          341327.089177              469163.453
3  2021      1     4          317062.333333              328987.849
4  2021      1    52          101676.746667              172205.922

157

### Accepted OFFERS per month:

In [28]:
# Create a table with the sum of accepted price and accepted volume for each month:
offers_sum_month = offers_sum.groupby(['year', 'month']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod','day','week'], axis=1).reset_index()
display(offers_sum_month.head(), len(offers_sum_month))

   year  month  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021      1           1.927307e+06             1653781.339
1  2021      2           1.402315e+06             2683132.501
2  2021      3           1.726373e+06             2041645.218
3  2021      4           1.762932e+06             1581483.281
4  2021      5           1.939785e+06             2043939.850

30

### Accepted OFFERS per year:

In [29]:
# Create a table with the sum of accepted price and accepted volume for each year:
offers_sum_year = offers_sum.groupby(['year']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod', 'day', 'week', 'month'], axis =1).reset_index()
display(offers_sum_year.head(), len(offers_sum_year))

   year  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021           3.553810e+07            2.229257e+07
1  2022           4.544856e+07            1.814859e+07
2  2023           1.520720e+07            6.427753e+06

3

### Market volume of transactions in Pounds and MW:

In [35]:
# Calculate the percentages for the new columns
offers_sum_year['market_volume_pounds'] = offers_sum_year['sum_abs_acceptedprice'] / 0.05
offers_sum_year['market_volume_MW'] = offers_sum_year['sum_abs_acceptedvolume'] / 0.05

# Adjust the values for the year 2023
offers_sum_year.loc[offers_sum_year['year'] == 2023, 'market_volume_pounds'] *= 2
offers_sum_year.loc[offers_sum_year['year'] == 2023, 'market_volume_MW'] *= 2

# Display the result:
display(offers_sum_year.head())

,year,sum_abs_acceptedprice,sum_abs_acceptedvolume,market_volume_pounds,market_volume_MW,market_value_yoy,market_liquidity_yoy
0,2021,3.553810e+07,2.229257e+07,7.107620e+08,4.458514e+08,NaN,NaN
1,2022,4.544856e+07,1.814859e+07,9.089711e+08,3.629717e+08,0.278868,-0.185891
2,2023,1.520720e+07,6.427753e+06,6.082880e+08,2.571101e+08,-0.330795,-0.291652

### Percentage (%) change in market value per pounds and MW:

In [31]:
# Year over year growth:
offers_sum_year['market_value_yoy'] = offers_sum_year['market_volume_pounds'].pct_change()
offers_sum_year['market_liquidity_yoy'] = offers_sum_year['market_volume_MW'].pct_change()
offers_sum_year.head()

,year,sum_abs_acceptedprice,sum_abs_acceptedvolume,market_volume_pounds,market_volume_MW,market_value_yoy,market_liquidity_yoy
0,2021,3.553810e+07,2.229257e+07,7.107620e+08,4.458514e+08,NaN,NaN
1,2022,4.544856e+07,1.814859e+07,9.089711e+08,3.629717e+08,0.278868,-0.185891
2,2023,1.520720e+07,6.427753e+06,6.082880e+08,2.571101e+08,-0.330795,-0.291652

### Year to Date comparisson:

#### Selecting only the first 6 months:

In [32]:
# Filter and keep only months from 1 to 6 for every year
filtered_offers_sum = offers_sum[(offers_sum['month'] >= 1) & (offers_sum['month'] <= 6)]

# Group by year and month, and sum the accepted price and accepted volume
offers_sum_month_ytd = filtered_offers_sum.groupby(['year', 'month']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['settlementPeriod', 'day', 'week'], axis=1).reset_index()

# Display the result
display(offers_sum_month_ytd.head(25), len(offers_sum_month_ytd))

    year  month  sum_abs_acceptedprice  sum_abs_acceptedvolume
0   2021      1           1.927307e+06             1653781.339
1   2021      2           1.402315e+06             2683132.501
2   2021      3           1.726373e+06             2041645.218
3   2021      4           1.762932e+06             1581483.281
4   2021      5           1.939785e+06             2043939.850
5   2021      6           2.069901e+06             1618373.852
6   2022      1           4.232488e+06             1742745.125
7   2022      2           3.214413e+06             2132410.030
8   2022      3           4.543710e+06             1312025.376
9   2022      4           2.759818e+06             1135450.119
10  2022      5           1.934538e+06             1339481.463
11  2022      6           2.816324e+06             1350200.610
12  2023      1           3.837509e+06             2053208.629
13  2023      2           2.575237e+06             1708438.506
14  2023      3           2.417103e+06              771519.907
15  2023      4           2.576453e+06              803846.886
16  2023      5           1.815321e+06              555429.488
17  2023      6           1.985578e+06              535309.867

18

### Comparing YTD with for all 3 years:

In [33]:
offers_sum_year_ytd = offers_sum_month_ytd.groupby(['year']).sum(['sum_abs_acceptedprice', 'sum_abs_acceptedvolume']).drop(['month'], axis=1).reset_index()
display(offers_sum_year_ytd.head(), len(offers_sum_year_ytd))

   year  sum_abs_acceptedprice  sum_abs_acceptedvolume
0  2021           1.082861e+07            1.162236e+07
1  2022           1.950129e+07            9.012313e+06
2  2023           1.520720e+07            6.427753e+06

3

# Sorting

## Sorting by date and SP:

In [ ]:
df.sort_values(by=['settlementDate','settlementPeriod'], ascending=[True,True], inplace=True)

## Separating per record type:

## BIDS:

In [ ]:
# From the recordtype column, select only records with the value 'BID':
df_bid = df[df['recordtype']=='BID']
df_bid.info()

In [ ]:
# Check for the maximum and minimum values of the 'acceptedprice' column:
df_bid['acceptedprice'].max(), df_bid['acceptedprice'].min()

### Outliers threshold:

In [ ]:
# Check for the amount of values higher and lower than the threshold value:
bid_outliersp_count = []
bid_outliersn_count = []
threshold = 3000 # Set the threshold value for the outliers

for i in df_bid['acceptedprice']:
    if (i <= -threshold):
        bid_outliersn_count.append(i)
    if (i >= threshold):
        bid_outliersp_count.append(i)

print('Number of outliers in the negative direction:', len(bid_outliersn_count),'proportion to total:', round(len(bid_outliersn_count)/len(df_bid)*100,6))
print('Number of outliers in the positive direction:', len(bid_outliersp_count), 'proportion to total:', round(len(bid_outliersp_count)/len(df_bid)*100,6))

In [ ]:
display(bid_outliersp_count)

In [ ]:
display(bid_outliersn_count)

### Remove the outliers:

In [ ]:
# Remove the outliers (values above threshold and below -threshold) in the acceptedprice column:
df_bid = df_bid[(df_bid['acceptedprice']<threshold) & (df_bid['acceptedprice']>-threshold)]

In [ ]:
# Check for the BMU Fuel Types:
df_bid['BMU Fuel Type'].unique()

### Bids Batteries data set:

In [ ]:
# Filter per Battery Fuel Type:
df_bid_batt = df_bid[df_bid['BMU Fuel Type']=='BATTERY']
df_bid_batt.head()

### Make dates as index:

In [ ]:
# Convert the settlementDate column to datetime format:
df_bid_batt.loc[:, 'settlementDate'] = pd.to_datetime(df_bid_batt['settlementDate'])

In [ ]:
# Set the settlementDate column as the index:
df_bid_batt = df_bid_batt.set_index('settlementDate')

### Check for missing values:

In [ ]:
#Create a list of dates since January 1st 2021 until Jun 30 2023:
start_date = pd.to_datetime('2021-01-01')
end_date = pd.to_datetime('2023-06-30')  

date_list = pd.date_range(start=start_date, end=end_date, freq='D').tolist()

In [ ]:
#Missing BID dates:
missing_bid_dates = []
for date in date_list:
    if date not in df_bid_batt.index:
        missing_bid_dates.append(date)

In [ ]:
print(len(missing_bid_dates), len(date_list))

print(f'Percentage of missing BID dates: {len(missing_bid_dates)/len(date_list):.4%}')

## OFFERS:

In [ ]:
# From the recordtype column, select only records with the value 'OFFER':
df_offer = df[df['recordtype']=='OFFER']
df_offer.info()

In [ ]:
# Check for the maximum and minimum values of the 'acceptedprice' column:
df_offer['acceptedprice'].max(), df_offer['acceptedprice'].min()

###### Outliers threshold:

In [ ]:
# Check for the amount of values higher and lower than the threshold value:
offer_outliersp_count = []
offer_outliersn_count = []
threshold = 3000 # Set the threshold value for the outliers

for i in df_offer['acceptedprice']:
    if (i <= -threshold):
        offer_outliersn_count.append(i)
    if (i >= threshold):
        offer_outliersp_count.append(i)

print('Number of outliers in the negative direction:', len(offer_outliersn_count), 'proportion to total:', round(len(offer_outliersn_count)/len(df_offer)*100,6))
print('Number of outliers in the positive direction:', len(offer_outliersp_count), 'proportion to total:', round(len(offer_outliersp_count)/len(df_offer)*100,6))

In [ ]:
display(offer_outliersn_count)

In [ ]:
display(offer_outliersp_count)

### Remove the outliers

In [ ]:
# Remove the outliers (values above threshold and below -threshold) in the acceptedprice column:
df_offer = df_offer[(df_offer['acceptedprice']<threshold) & (df_offer['acceptedprice']>-threshold)]

In [ ]:
# Check for the BMU Fuel Types:
df_offer['BMU Fuel Type'].unique()

### Offers Batteries data set:

In [ ]:
# Filter per Battery Fuel Type:
df_offer_batt = df_offer[df_offer['BMU Fuel Type']=='BATTERY']
df_offer_batt.head()

In [ ]:
df_offer_batt.shape

In [ ]:
df_offer_batt.info()

### Make date as an Index:

In [ ]:
# Convert the settlementDate column to datetime format:
df_offer_batt.loc[:, 'settlementDate'] = pd.to_datetime(df_offer_batt['settlementDate'])

In [ ]:
# Set the settlementDate column as the index:
df_offer_batt = df_offer_batt.set_index('settlementDate')

### Check for missing values:

In [ ]:
#Create a list of dates since January 1st 2021 until Jun 30 2023:
start_date = pd.to_datetime('2021-01-01')
end_date = pd.to_datetime('2023-06-30')  

date_list = pd.date_range(start=start_date, end=end_date, freq='D').tolist()

In [ ]:
#Missing offer dates:
missing_offer_dates = []
for date in date_list:
    if date not in df_offer_batt.index:
        missing_offer_dates.append(date)

In [ ]:
# Missing offer dates versus total dates:
print(len(missing_offer_dates), len(date_list))

print(f'Percentage of missing OFFER dates: {len(missing_offer_dates)/len(date_list):.4%}')

## Grouping by SP:

In [ ]:
# Grouping by settlementPeriod and calculating the mean of the acceptedprice column:
df_bid_batt_mean = df_bid_batt.groupby(['settlementDate','settlementPeriod'])['acceptedprice'].mean().reset_index()

df_bid_batt_mean.set_index('settlementDate', inplace=True)

In [ ]:
# Export to csv:
df_bid_batt_mean.to_csv('H:\My Drive\QEnergy\Results\Model (S) ARIMA\BID_BATT_MEAN.csv')

In [ ]:
# Grouping by settlementPeriod and calculating the mean of the acceptedprice column:
df_offer_batt_mean = df_offer_batt.groupby(['settlementDate','settlementPeriod'])['acceptedprice'].mean().reset_index()

df_offer_batt_mean.set_index('settlementDate', inplace=True)

In [ ]:
# Export to csv:
df_offer_batt_mean.to_csv('H:\My Drive\QEnergy\Results\Model (S) ARIMA\OFFER_BATT_MEAN.csv')