In [1]:
# pip install holidays

Collecting holidays
  Using cached holidays-0.28-py3-none-any.whl (642 kB)
Requirement already satisfied: python-dateutil in c:\users\javde\anaconda3\lib\site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\javde\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)
Installing collected packages: holidays
Successfully installed holidays-0.28
Note: you may need to restart the kernel to use updated packages.

# UK Working Calendar

## Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime
import holidays

## Regular Calendar

1. Dates: From 01 January  2021 to 30 June 2021
2. The corresponding day of the week (Mo, Tue, Wed, Thu, Fri, Sat, Sun)
3. Weekend: Yes for Saturday or Sunday, No for other days
4. Holiday: Yes for Holiday, No for Non-Holidays (for the UK holidays)

In [2]:
# Define the start and end dates
start_date = datetime.date(2021, 1, 1)
end_date = datetime.date(2023, 6, 30)

# Get UK holidays
uk_holidays = holidays.UnitedKingdom()

# Generate a list of dates from start to end
date_list = pd.date_range(start_date, end_date)

# Create an empty DataFrame
df = pd.DataFrame({'Dates': date_list})

# Add columns for day of the week, weekend, and holiday
df['Day of the Week'] = df['Dates'].dt.strftime('%a')
df['Weekend'] = df['Dates'].apply(lambda x: 'Yes' if x.weekday() >= 5 else 'No')
df['Holiday'] = df['Dates'].apply(lambda x: 'Yes' if x in uk_holidays else 'No')

# Print the resulting DataFrame
display(df.head(10))
display(df.tail(10))

len(df)

# Export DataFrame to Excel
# df.to_excel('UK_Holidays.xlsx', index=False)

       Dates Day of the Week Weekend Holiday
0 2021-01-01             Fri      No     Yes
1 2021-01-02             Sat     Yes      No
2 2021-01-03             Sun     Yes      No
3 2021-01-04             Mon      No      No
4 2021-01-05             Tue      No      No
5 2021-01-06             Wed      No      No
6 2021-01-07             Thu      No      No
7 2021-01-08             Fri      No      No
8 2021-01-09             Sat     Yes      No
9 2021-01-10             Sun     Yes      No

         Dates Day of the Week Weekend Holiday
901 2023-06-21             Wed      No      No
902 2023-06-22             Thu      No      No
903 2023-06-23             Fri      No      No
904 2023-06-24             Sat     Yes      No
905 2023-06-25             Sun     Yes      No
906 2023-06-26             Mon      No      No
907 2023-06-27             Tue      No      No
908 2023-06-28             Wed      No      No
909 2023-06-29             Thu      No      No
910 2023-06-30             Fri      No      No

911

## Boolean Values

1. Dates: From 01 January  2021 to 30 June 2021
2. The corresponding day of the week (Mo, Tue, Wed, Thu, Fri, Sat, Sun)
3. Weekend: 1 for Saturday or Sunday, 0 for other days
4. Holiday: 1 for Holiday, 0 for Non-Holidays (for the UK holidays)

In [3]:
# Define the start and end dates
start_date = datetime.date(2021, 1, 1)
end_date = datetime.date(2023, 6, 30)

# Get UK holidays
uk_holidays = holidays.UnitedKingdom()

# Generate a list of dates from start to end
date_list = pd.date_range(start_date, end_date)

# Create an empty DataFrame
df = pd.DataFrame({'Dates': date_list})

# Add columns for day of the week, weekend, and holiday
df['Day of the Week'] = df['Dates'].dt.strftime('%a')
df['Weekend'] = df['Dates'].apply(lambda x: 1 if x.weekday() >= 5 else 0)
df['Holiday'] = df['Dates'].apply(lambda x: 1 if x in uk_holidays else 0)

# Print the resulting DataFrame
display(df)
display(df.tail(10))

len(df)

# Export DataFrame to Excel
# df.to_excel('UK_Holidays_Boolean.xlsx', index=False)

         Dates Day of the Week  Weekend  Holiday
0   2021-01-01             Fri        0        1
1   2021-01-02             Sat        1        0
2   2021-01-03             Sun        1        0
3   2021-01-04             Mon        0        0
4   2021-01-05             Tue        0        0
..         ...             ...      ...      ...
906 2023-06-26             Mon        0        0
907 2023-06-27             Tue        0        0
908 2023-06-28             Wed        0        0
909 2023-06-29             Thu        0        0
910 2023-06-30             Fri        0        0

[911 rows x 4 columns]

         Dates Day of the Week  Weekend  Holiday
901 2023-06-21             Wed        0        0
902 2023-06-22             Thu        0        0
903 2023-06-23             Fri        0        0
904 2023-06-24             Sat        1        0
905 2023-06-25             Sun        1        0
906 2023-06-26             Mon        0        0
907 2023-06-27             Tue        0        0
908 2023-06-28             Wed        0        0
909 2023-06-29             Thu        0        0
910 2023-06-30             Fri        0        0

911

## Angular Coordinates

1. Dates: From 01 January  2021 to 30 June 2021
2. The corresponding day of the week (Mo, Tue, Wed, Thu, Fri, Sat, Sun) - Angular Coordinates
3. Weekend: 1 for Saturday or Sunday, 0 for other days
4. Holiday: 1 for Holiday, 0 for Non-Holidays (for the UK holidays)

In [4]:
# Define the start and end dates
start_date = datetime.date(2021, 1, 1)
end_date = datetime.date(2023, 6, 30)

# Get UK holidays
uk_holidays = holidays.UnitedKingdom()

# Generate a list of dates from start to end
date_list = pd.date_range(start_date, end_date)

# Create an empty DataFrame
df = pd.DataFrame({'Dates': date_list})

# Add columns for day of the week, weekend, and holiday
df['Day of the Week'] = df['Dates'].dt.weekday
df['Weekday Name'] = df['Dates'].dt.strftime('%A')
df['Weekend'] = df['Day of the Week'].apply(lambda x: 1 if x >= 5 else 0)
df['Holiday'] = df['Dates'].apply(lambda x: 1 if x in uk_holidays else 0)

# Convert weekday to polar coordinates
df['Angle'] = df['Day of the Week'] * 2 * np.pi / 7

# Calculate angular difference between weekdays
df['Angular Difference'] = np.abs(df['Angle'].diff())

# Print the resulting DataFrame
display(df.head(10))
display(df.tail(10))

len(df)

# Export DataFrame to Excel
# df.to_excel('UK_Holidays_Angular.xlsx', index=False)

,Dates,Day of the Week,Weekday Name,Weekend,Holiday,Angle,Angular Difference
0,2021-01-01,4,Friday,0,1,3.590392,NaN
1,2021-01-02,5,Saturday,1,0,4.487990,0.897598
2,2021-01-03,6,Sunday,1,0,5.385587,0.897598
3,2021-01-04,0,Monday,0,0,0.000000,5.385587
4,2021-01-05,1,Tuesday,0,0,0.897598,0.897598
5,2021-01-06,2,Wednesday,0,0,1.795196,0.897598
6,2021-01-07,3,Thursday,0,0,2.692794,0.897598
7,2021-01-08,4,Friday,0,0,3.590392,0.897598
8,2021-01-09,5,Saturday,1,0,4.487990,0.897598
9,2021-01-10,6,Sunday,1,0,5.385587,0.897598

,Dates,Day of the Week,Weekday Name,Weekend,Holiday,Angle,Angular Difference
901,2023-06-21,2,Wednesday,0,0,1.795196,0.897598
902,2023-06-22,3,Thursday,0,0,2.692794,0.897598
903,2023-06-23,4,Friday,0,0,3.590392,0.897598
904,2023-06-24,5,Saturday,1,0,4.487990,0.897598
905,2023-06-25,6,Sunday,1,0,5.385587,0.897598
906,2023-06-26,0,Monday,0,0,0.000000,5.385587
907,2023-06-27,1,Tuesday,0,0,0.897598,0.897598
908,2023-06-28,2,Wednesday,0,0,1.795196,0.897598
909,2023-06-29,3,Thursday,0,0,2.692794,0.897598
910,2023-06-30,4,Friday,0,0,3.590392,0.897598

911